#tic-tac-toe{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 300px;
}

#tic-tac-toe :nth-child(1){
    border-right: 1px solid white;
    border-bottom: 1px solid #ffffff;
}
#tic-tac-toe :nth-child(2){
    border: 1px solid white;
    border-top: none;
}
#tic-tac-toe :nth-child(3){
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
#tic-tac-toe :nth-child(4){
    border: 1px solid white;
    border-left: none;
}
#tic-tac-toe :nth-child(5){
    border: 1px solid white;
}
#tic-tac-toe :nth-child(6){
    border: 1px solid white;
    border-right: none;
}
#tic-tac-toe :nth-child(7){
    border-right: 1px solid white;
    border-top: 1px solid white;
}
#tic-tac-toe :nth-child(8){
    border: 1px solid white;
    border-bottom: none;
}
#tic-tac-toe :nth-child(9){
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.tile{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.tile button {
    width: 80%;
    height: 80%;
}

#reset-button{
    text-align: center;
}