/* Dice Styling */
.d1 { background-position: 0 0; }
.d2 { background-position: -100px 0; }
.d3 { background-position: -200px 0; }
.d4 { background-position: -300px 0; }
.d5 { background-position: -400px 0; }
.d6 { background-position: -500px 0; }
.d1:hover { background-position: 0 -200px;}
.d2:hover { background-position: -100px -200px; }
.d3:hover { background-position: -200px -200px; }
.d4:hover { background-position: -300px -200px; }
.d5:hover { background-position: -400px -200px; }
.d6:hover { background-position: -500px -200px; }

.l1 { background-position: 0 -100px; }
.l2 { background-position: -100px -100px; }
.l3 { background-position: -200px -100px; }
.l4 { background-position: -300px -100px; }
.l5 { background-position: -400px -100px; }
.l6 { background-position: -500px -100px; }
.l1:hover { background-position: 0 100px; }
.l2:hover { background-position: -100px 100px; }
.l3:hover { background-position: -200px 100px; }
.l4:hover { background-position: -300px 100px; }
.l5:hover { background-position: -400px 100px; }
.l6:hover { background-position: -500px 100px; }

.die figure {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/* Game Board */
#yathzee-main {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    margin: auto;
}

.section {
    text-align: center;
}

/* Score Board */
#scoreboard{
    grid-row: 1 / 4;
    margin-right: 5px;
}
.row{
    border-top: 1px solid;
}

.input, .total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 .2em;
}

.input span,
.total span {
    font-size: 0.9em;
}

.total {
    text-align: left;
}

.btn {
    width: 60px;
    text-align: center;
}

/* Action Buttons */
.button {
    width: 80%;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}