*{
    box-sizing:border-box;
}
  
/* Spinning Logo */
.App-logo {
    height: 5ch;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-link {
    color: #61dafb;
}
  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
  /* Main View */
.App {
    background-color: #282c34;
    height: 100vh;
    font-size: 1.33em;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
}
  
header nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header nav button {
    background-color: cyan;
    border: 0;
    font-size: 2rem;
    margin: 0.2rem;
}

header nav button:hover,
header nav button:focus{
    background-color: darkcyan;
}

h2{
    text-align: center;
    margin: 0;
}

main {
    overflow: scroll;
}

footer {
    text-align: center;
    padding-bottom: 0.5ch;
}

footer a:link, footer a:visited{
    color: cyan;
}
  